.width-100 {
  width: 100% !important;
  margin-bottom: 10px;
}
.add-button {
  margin-top: 24px !important;
}
.clickable {
  cursor: pointer;
}
.white-unstyled {
  text-decoration: none;
  color: #fff;
}
textarea.monospaced {
  font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}
